/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ;
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.main-footer {
  margin-top: auto; /* sticky footer */
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  background-color: #1B1A17;
  color: #F0E3CA;
  font-family: "Inconsolata", monospace;
}

.main-header {
  padding: 20.5px 0 25.5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  z-index: 4;
}
@media (max-width: 768px) {
  .main-header {
    padding: 16px 0;
  }
}
@media (max-width: 570px) {
  .main-header {
    padding: 20.5px 0;
  }
  .main-header .container {
    display: none;
  }
}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-header__content {
    flex-direction: column;
    row-gap: 24px;
  }
}
@media (max-width: 570px) {
  .main-header__content {
    flex-direction: row;
  }
}

.logo {
  max-width: 146px;
  z-index: 5;
}

.main-menu--mobile {
  display: none;
}
@media (max-width: 570px) {
  .main-menu--mobile {
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 4;
    background-color: rgba(33, 32, 29, 0.8);
  }
  .main-menu--mobile.hidden {
    transform: translateY(-100%);
  }
}

.main-menu__list-links {
  display: flex;
  gap: 40px;
}
@media (max-width: 570px) {
  .main-menu__list-links {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.anchor-link {
  color: #F0E3CA;
  font-family: Inconsolata;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.mobile-container {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 570px) {
  .mobile-container {
    display: block;
  }
}

.preview {
  padding-top: 146.5px;
  padding-bottom: 72.5px;
}
@media (max-width: 1244px) {
  .preview {
    padding: 128px 0;
  }
}
@media (max-width: 570px) {
  .preview {
    padding: 144.5px 0 0;
  }
}
.preview__content {
  display: flex;
  align-items: center;
  -moz-column-gap: 137px;
       column-gap: 137px;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.about-me {
  padding: 64px 0;
}

.about-me__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (max-width: 570px) {
  .about-me__content {
    flex-direction: column;
  }
}

.about-me__img {
  flex-shrink: 0;
}

.about-me__text {
  max-width: 904px;
  font-size: 24px;
}
@media (max-width: 768px) {
  .about-me__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
  }
}
@media (max-width: 570px) {
  .about-me__text {
    font-size: 18px;
    line-height: 1.1;
  }
}

.skills .context-title {
  margin-bottom: 32px;
}

.skills__content {
  padding: 64px 0;
  text-align: center;
}

.skills__row-cards {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 16px;
}
@media (max-width: 570px) {
  .skills__row-cards {
    flex-direction: column;
    align-items: center;
  }
}

.skill-card {
  min-width: 200px;
  min-height: 300px;
  transition: all 0.5s ease;
  position: relative;
}
@media (max-width: 570px) {
  .skill-card {
    max-width: 285px;
    width: 100%;
    min-height: 60px;
  }
}
.skill-card__front, .skill-card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 1s;
  border-radius: 10px;
}
.skill-card__front {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 61px 43px 58px;
  row-gap: 18px;
  background-color: #1F1E1B;
  transform: perspective(600px) rotateY(0deg);
}
@media (max-width: 570px) {
  .skill-card__front {
    flex-direction: row;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.skill-card__back {
  color: rgb(255, 255, 255);
  background-color: rgba(120, 200, 120, 0.8);
  transform: perspective(600px) rotateY(180deg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.skill-card__information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  font-size: 25px;
}
@media (max-width: 570px) {
  .skill-card__information {
    font-size: 20px;
    width: 95%;
  }
}
@media (max-width: 375px) {
  .skill-card__information {
    font-size: 16px;
  }
}
.skill-card__close {
  width: 30px;
  height: 30px;
  transition: 0.5s;
  position: absolute;
  top: 10px;
  right: 10px;
}
.skill-card__close:hover {
  transform: rotate(250deg);
}
.skill-card.active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg) !important;
  z-index: 6;
  max-width: 500px;
  max-height: 400px;
  width: 90%;
  height: 100%;
  transition: top 500ms, left 500ms;
}
.skill-card.active .skill-card__front {
  transform: perspective(600px) rotateY(180deg);
}
.skill-card.active .skill-card__back {
  transform: perspective(600px) rotateY(0deg);
}

.skill-card--html .skill-card__img,
.skill-card--css .skill-card__img {
  width: 113px;
}
@media (max-width: 570px) {
  .skill-card--html .skill-card__img,
  .skill-card--css .skill-card__img {
    width: 28.3px;
    height: 32px;
  }
}

.skill-card--git .skill-card__img,
.skill-card--javaScript .skill-card__img,
.skill-card--scss .skill-card__img {
  width: 128px;
}
@media (max-width: 570px) {
  .skill-card--git .skill-card__img,
  .skill-card--javaScript .skill-card__img,
  .skill-card--scss .skill-card__img {
    width: 32px;
    height: 32px;
  }
}

.skill-card__button {
  border: 6px double #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 5px 10px;
  min-width: 124px;
}
@media (max-width: 570px) {
  .skill-card__button {
    font-weight: 500;
    border: none;
  }
}

@media (hover: hover) {
  .skill-card--html:hover path {
    fill: #FC490B;
  }
}
@media (hover: hover) {
  .skill-card--html:hover .skill-card__button {
    border-color: #FC490B;
    box-shadow: 0 0 2px 4px #FC490B;
  }
}
.skill-card--html:active path {
  fill: #FC490B;
}
.skill-card--html:active .skill-card__button {
  border-color: #FC490B;
  box-shadow: 0 0 2px 4px #FC490B;
}

@media (hover: hover) {
  .skill-card--css:hover path {
    fill: #2196F4;
  }
}
@media (hover: hover) {
  .skill-card--css:hover .skill-card__button {
    border-color: #2196F4;
    box-shadow: 0 0 2px 4px #2196F4;
  }
}
.skill-card--css:active .skill-card__button {
  border-color: #2196F4;
  box-shadow: 0 0 2px 4px #2196F4;
}
.skill-card--css:active path {
  fill: #2196F4;
}

@media (hover: hover) {
  .skill-card--git:hover path {
    fill: #F25234;
  }
}
@media (hover: hover) {
  .skill-card--git:hover .skill-card__button {
    border-color: #F25234;
    box-shadow: 0 0 2px 4px #F25234;
  }
}
.skill-card--git:active .skill-card__button {
  border-color: #F25234;
  box-shadow: 0 0 2px 4px #F25234;
}
.skill-card--git:active path {
  fill: #F25234;
}

@media (hover: hover) {
  .skill-card--javaScript:hover path {
    fill: #FFDF00;
  }
}
@media (hover: hover) {
  .skill-card--javaScript:hover .skill-card__button {
    border-color: #FFDF00;
    box-shadow: 0 0 2px 4px #FFDF00;
  }
}
.skill-card--javaScript:active .skill-card__button {
  border-color: #FFDF00;
  box-shadow: 0 0 2px 4px #FFDF00;
}
.skill-card--javaScript:active path {
  fill: #FFDF00;
}

@media (hover: hover) {
  .skill-card--scss:hover path {
    fill: #CA669B;
  }
}
@media (hover: hover) {
  .skill-card--scss:hover .skill-card__button {
    border-color: #CA669B;
    box-shadow: 0 0 2px 4px #CA669B;
  }
}
.skill-card--scss:active .skill-card__button {
  border-color: #CA669B;
  box-shadow: 0 0 2px 4px #CA669B;
}
.skill-card--scss:active path {
  fill: #CA669B;
}

.my-works .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.my-works__content {
  padding: 64px 0;
}
@media (max-width: 570px) {
  .my-works__content {
    padding: 82px 0;
  }
}

.my-works__row-cards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 16px;
  align-items: center;
}
@media (max-width: 768px) {
  .my-works__row-cards {
    flex-direction: column;
  }
}

.card-project {
  max-width: 320px;
  max-height: 320px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 375px) {
  .card-project {
    max-width: 290px;
    max-height: 290px;
  }
}
.card-project:hover .card-project-info {
  top: 0;
}

.card-project-info {
  background-color: #21201D;
  height: 100%;
  max-height: 320px;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 40.5px 0;
}
@media (max-width: 375px) {
  .card-project-info {
    padding: 25.5px;
  }
}
.card-project-info .context-title {
  margin-bottom: 16px;
}

.card-project-info__top {
  max-width: 200px;
  width: 100%;
  border-bottom: 1px solid #78c878;
  padding-bottom: 16px;
}

.card-project-info__stack {
  font-weight: 500;
}

.card-project-info__bottom {
  max-width: 219px;
  padding-top: 16px;
}

.card-project-info__discription {
  text-align: left;
  margin-bottom: 16px;
}

.card-project-info__link {
  font-size: 14px;
  font-weight: 500;
  background-color: #32312E;
  padding: 12px 20px;
  border-radius: 4px;
  color: #F0E3CA;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid transparent;
}
.card-project-info__link:hover {
  border-color: #78c878;
  box-shadow: 0 0 2px 4px #78c878;
}

.main-footer .context-title {
  font-size: 32px;
}
@media (max-width: 768px) {
  .main-footer .context-title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}

.footer__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 64px 0;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 70px;
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
}

.footer__invitation {
  max-width: 213px;
  padding-top: 5px;
}
@media (max-width: 768px) {
  .footer__invitation {
    max-width: 339px;
  }
}

.logo--footer {
  margin-bottom: 16px;
  width: 163px;
}
@media (max-width: 768px) {
  .logo--footer {
    margin: 0 auto 16px;
  }
}

.footer__invitation-text {
  color: #F0E3CA;
  font-size: 20px;
}

.footer__contacts .context-title {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .footer__contacts .context-title {
    text-align: center;
  }
}

.footer__links {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 570px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}

.links-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.contact-link__icon {
  fill: #F0E3CA;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 5px;
}

.links-list__contact:hover .contact-link__icon {
  fill: #78c878;
}
.links-list__contact:hover .contact-link__text {
  color: #F0E3CA;
}

.contact-link__text {
  color: #78c878;
  font-size: 24px;
}

.reviews__content {
  padding: 64px 0;
}
.reviews__content .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.author {
  max-width: 448px;
  flex-shrink: 0;
}
@media (max-width: 570px) {
  .author {
    max-width: 314px;
    flex-shrink: 1;
  }
}
.author__description {
  color: #F0E3CA;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 570px) {
  .author__description {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .author__description {
    font-size: 18px;
    text-align: center;
  }
}
.author .main-title {
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .author .main-title {
    margin-bottom: 9px;
  }
}
@media (max-width: 570px) {
  .author .main-title {
    margin-bottom: 16px;
  }
}
@media (max-width: 375px) {
  .author .main-title {
    text-align: center;
  }
}
.author .main-subtitle {
  margin-bottom: 14px;
}
@media (max-width: 570px) {
  .author .main-subtitle {
    margin-bottom: 16px;
  }
}
@media (max-width: 375px) {
  .author .main-subtitle {
    text-align: center;
  }
}

.main-title {
  color: #78c878;
  font-size: 64px;
  font-weight: 900;
}
@media (max-width: 570px) {
  .main-title {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .main-title {
    font-size: 32px;
  }
}

.main-subtitle {
  color: #F0E3CA;
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 570px) {
  .main-subtitle {
    font-size: 32px;
  }
}
@media (max-width: 375px) {
  .main-subtitle {
    font-size: 24px;
  }
}

.context-title {
  color: #78c878;
  font-size: 32px;
  font-weight: 700;
}

.avatar {
  max-width: 629px;
  width: 100%;
  height: 575px;
  position: relative;
  flex-shrink: 0;
  background-image: url(../img/preview/author-background-big.png);
  background-repeat: no-repeat;
}
@media (max-width: 650px) {
  .avatar {
    background-image: url(../img/preview/author-background-mobile.png);
    background-size: contain;
    background-position: center;
    height: 475px;
  }
}
@media (max-width: 425px) {
  .avatar {
    height: 380px;
  }
}
@media (max-width: 375px) {
  .avatar {
    height: 335px;
  }
}
.avatar__under {
  width: 370px;
  height: 370px;
  border-radius: 56% 100% 65% 100%/99% 29% 100% 38%;
  background-color: rgba(0, 128, 0, 0.5019607843);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 650px) {
  .avatar__under {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 425px) {
  .avatar__under {
    width: 220px;
    height: 220px;
  }
}
.avatar__under--first {
  z-index: 3;
}
.avatar__under--second {
  transform: rotate(-30.578deg);
  z-index: 2;
  opacity: 0.5;
  top: 15%;
  left: 25%;
}
.avatar__under--third {
  transform: rotate(24.124deg);
  top: 15%;
  left: 30%;
  background-color: grey;
  z-index: 1;
  transform-origin: top left;
}

.burger {
  z-index: 5;
}
.burger.cross .burger__line {
  background-color: transparent;
  transition: 0.5s 0s;
}
.burger.cross .burger__line::before {
  top: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
  transform: rotate(45deg);
}
.burger.cross .burger__line::after {
  bottom: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
  transform: rotate(-45deg);
}

.burger__line {
  display: block;
  width: 36px;
  height: 4px;
  background-color: #F0E3CA;
  position: relative;
  transition: 0.5s 0s;
}
.burger__line:before, .burger__line:after {
  content: "";
  position: absolute;
  display: block;
  width: 36px;
  height: 4px;
  background-color: #F0E3CA;
}
.burger__line::before {
  top: -10px;
  transition: transform 0.5s, top 0.5s 0.5s;
}
.burger__line::after {
  bottom: -10px;
  transition: transform 0.5s, bottom 0.5s 0.5s;
}

.slider-reviews {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  .slider-reviews {
    width: 100%;
  }
}

.slider-reviews__slide {
  background-color: #1F1E1B;
  padding: 10px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  margin: 0 10px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .slider-reviews__slide {
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
  }
}

.slider-reviews__avatar {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}

.slider-reviews__name {
  color: #78c878;
  font-size: 26px;
}

.slider-reviews__profession {
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 15px;
}

.slider-reviews__review {
  font-size: 20px;
}
@media (max-width: 768px) {
  .slider-reviews__review {
    font-size: 18px;
    text-align: left;
  }
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  width: 50px;
  height: 50px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
@media (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}

.slider__arrow--right {
  right: -60px;
}

.slider__arrow--left {
  left: -60px;
}

.slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 0;
  bottom: -20px;
}
.slick-dots .slick-active button {
  transform: scale(1.5);
  background-color: #78c878;
}
.slick-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(249, 243, 243);
  transition: 0.5s;
}

.fade-block {
  width: 100%;
  height: 100vh;
  background-color: rgba(177, 177, 177, 0);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  left: 0;
  top: -100%;
  z-index: 5;
  transition: top 0.8s;
}
.fade-block.open {
  top: 0;
}/*# sourceMappingURL=main.css.map */