/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ;
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.main-footer {
  margin-top: auto; /* sticky footer */
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  background-color: #1B1A17;
  color: #F0E3CA;
  font-family: "Inconsolata", monospace;
}

.main-header {
  padding: 43.5px 0 48px;
}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  max-width: 146px;
}

.main-menu__list-links {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.anchor-link {
  color: #F0E3CA;
  font-family: Inconsolata;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.preview {
  padding-top: 72.5px;
  padding-bottom: 72.5px;
}
.preview__content {
  display: flex;
  align-items: center;
  -moz-column-gap: 137px;
       column-gap: 137px;
}

.about-me {
  padding: 64px 0;
}

.about-me__content {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.about-me__text {
  max-width: 904px;
  font-size: 24px;
}

.skills .context-title {
  margin-bottom: 32px;
}

.skills__content {
  padding: 64px 0;
  text-align: center;
}

.skills__row-cards {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}

.skill-card {
  background-color: #1F1E1B;
  max-width: 200px;
  padding: 61px 43px 58px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  max-height: 300px;
}

.skill-card--html .skill-card__img,
.skill-card--css .skill-card__img {
  width: 113px;
}

.skill-card--git .skill-card__img,
.skill-card--javaScript .skill-card__img,
.skill-card--scss .skill-card__img {
  width: 128px;
}

.skill-card__button {
  border: 6px double #fff;
  border-radius: 5px;
  font-size: 24px;
  padding: 5px 10px;
  min-width: 124px;
}

.skill-card--html:hover path {
  fill: #FC490B;
}
.skill-card--html:hover .skill-card__button {
  border-color: #FC490B;
  box-shadow: 0 0 2px 4px #FC490B;
}

.skill-card--css:hover path {
  fill: #2196F4;
}
.skill-card--css:hover .skill-card__button {
  border-color: #2196F4;
  box-shadow: 0 0 2px 4px #2196F4;
}

.skill-card--git:hover path {
  fill: #F25234;
}
.skill-card--git:hover .skill-card__button {
  border-color: #F25234;
  box-shadow: 0 0 2px 4px #F25234;
}

.skill-card--javaScript:hover path {
  fill: #FFDF00;
}
.skill-card--javaScript:hover .skill-card__button {
  border-color: #FFDF00;
  box-shadow: 0 0 2px 4px #FFDF00;
}

.skill-card--scss:hover path {
  fill: #CA669B;
}
.skill-card--scss:hover .skill-card__button {
  border-color: #CA669B;
  box-shadow: 0 0 2px 4px #CA669B;
}

.my-works .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.my-works__content {
  padding: 64px 0;
}

.my-works__row-cards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.card-project {
  max-width: 320px;
  max-height: 320px;
  position: relative;
  overflow: hidden;
}
.card-project:hover .card-project-info {
  top: 0;
}

.card-project-info {
  background-color: #21201D;
  height: 100%;
  max-height: 320px;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 40.5px 0;
}
.card-project-info .context-title {
  margin-bottom: 16px;
}

.card-project-info__top {
  max-width: 200px;
  width: 100%;
  border-bottom: 1px solid #78c878;
  padding-bottom: 16px;
}

.card-project-info__stack {
  font-weight: 500;
}

.card-project-info__bottom {
  max-width: 219px;
  padding-top: 16px;
}

.card-project-info__discription {
  text-align: left;
  margin-bottom: 16px;
}

.card-project-info__link {
  font-size: 14px;
  font-weight: 500;
  background-color: #32312E;
  padding: 12px 20px;
  border-radius: 4px;
  color: #F0E3CA;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid transparent;
}
.card-project-info__link:hover {
  border-color: #78c878;
  box-shadow: 0 0 2px 4px #78c878;
}

.footer__content {
  display: flex;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  padding: 64px 0;
}

.footer__invitation {
  max-width: 213px;
}

.logo--footer {
  margin-bottom: 16px;
  max-width: 160px;
}

.footer__invitation-text {
  color: #F0E3CA;
  font-size: 20px;
}

.footer__contacts {
  max-width: 400px;
}
.footer__contacts .context-title {
  margin-bottom: 16px;
}

.footer__links {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.links-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.contact-link__icon {
  fill: #F0E3CA;
  max-width: 32px;
  max-height: 32px;
  vertical-align: middle;
  margin-right: 16px;
}

.links-list__contact:hover .contact-link__icon {
  fill: #78c878;
}
.links-list__contact:hover .contact-link__text {
  color: #F0E3CA;
}

.contact-link__text {
  color: #78c878;
  font-size: 24px;
}

.author {
  max-width: 448px;
}
.author__description {
  color: #F0E3CA;
  font-size: 20px;
  font-weight: 400;
}
.author .main-title {
  margin-bottom: 13px;
}
.author .main-subtitle {
  margin-bottom: 14px;
}

.main-title {
  color: #78c878;
  font-size: 64px;
  font-weight: 900;
}

.main-subtitle {
  color: #F0E3CA;
  font-size: 40px;
  font-weight: 700;
}

.context-title {
  color: #78c878;
  font-size: 32px;
  font-weight: 700;
}

.avatar {
  width: 629px;
  height: 575px;
  position: relative;
  flex-shrink: 0;
}
.avatar__under {
  width: 370px;
  height: 370px;
  border-radius: 56% 100% 65% 100%/99% 29% 100% 38%;
  background-color: rgba(0, 128, 0, 0.5019607843);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar__under--first {
  z-index: 3;
}
.avatar__under--second {
  transform: rotate(-30.578deg) translate(-50%, -50%);
  transform-origin: top left;
  z-index: 2;
  opacity: 0.5;
}
.avatar__under--third {
  transform: rotate(24.124deg) translate(-50%, -50%);
  background-color: grey;
  z-index: 1;
  transform-origin: top left;
}/*# sourceMappingURL=main.css.map */