

@mixin color-icon($color) {
    @media (hover:hover) {
        &:hover {
            path {
                fill:$color;
            }
        }
    }
}

@mixin color-border($color) {
    @media (hover:hover) {
        &:hover {
        .skill-card__button {
            border-color:$color;
            box-shadow: 0 0 2px 4px $color;
        }
        }
    
    }
}

@mixin color-icon-active($color){
    &:active {
        path {
            fill:$color;
        }
    }
}

@mixin color-border-active($color) {
    &:active{
        .skill-card__button {
            border-color:$color;
            box-shadow: 0 0 2px 4px $color;
        }
    }
}