.author {
    max-width: 448px;
    flex-shrink: 0;

    &__description {
        color: $textColor;
        font-size: 20px;
        font-weight: 400;
    }

    .main-title {
        margin-bottom: 13px;
    }

    .main-subtitle {
        margin-bottom: 14px;
    }
}