.author {
    max-width: 448px;
    flex-shrink: 0;

    @media (max-width:570px) {
        max-width: 314px;
        flex-shrink: 1;
    }

    &__description {
        color: $textColor;
        font-size: 20px;
        font-weight: 400;

        @media (max-width:570px) {
            font-size: 24px;
        }

        @media (max-width:375px) {
            font-size: 18px;
            text-align: center;
        }
    }

    .main-title {
        margin-bottom: 13px;

        @media (max-width:768px) {
            margin-bottom: 9px;
        }

        @media (max-width:570px) {
            margin-bottom: 16px;
        }

        @media (max-width:375px) {
            text-align: center;
        }
    }

    .main-subtitle {
        margin-bottom: 14px;

        @media (max-width:570px) {
            margin-bottom: 16px;
        }

        
        @media (max-width:375px) {
            text-align: center;
        }
    }
}