.avatar {
    max-width: 629px;
    width: 100%;
    height: 575px;
    position: relative;
    flex-shrink: 0;
    background-image: url(../img/preview/author-background-big.png);
    background-repeat: no-repeat;


    @media (max-width:650px) {
        background-image: url(../img/preview/author-background-mobile.png);
        background-size: contain;
        background-position: center;
        height: 475px;
    }

    @media (max-width:425px) {
        height: 380px;
    }

    @media (max-width:375px) {
        height: 335px;
    }

    
    
    &__under {
        width: 370px;
        height: 370px;
        border-radius:56% 100% 65% 100% / 99% 29% 100% 38% ;
        background-color: #00800080;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @media (max-width:650px) {
            width: 320px;
            height: 320px;
        }
        @media (max-width:425px) {
            width: 220px;
            height: 220px;
        }
        
        
        &--first {
            z-index: 3;
        }

        &--second {
            transform: rotate(-30.578deg);
            z-index: 2;
            opacity: 0.5;
            top: 15%;
            left: 25%;
        }
        
        &--third {
            transform: rotate(24.124deg);
            top: 15%;
            left: 30%;
            background-color: grey;
            z-index: 1;
            transform-origin: top left;
        }
    }
}