.slider-reviews {
    width: 80%;
    margin: 0 auto;
}
.slider-reviews__slide {
    background-color: $cardsBackground;
    padding: 10px;
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin: 0 10px;
    border-radius: 20px;
}
.slider-reviews__avatar {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    overflow: hidden;
}
.slider-reviews__main-information {
}
.slider-reviews__name {
    color: $titleColor;
    font-size: 26px;
}
.slider-reviews__profession {
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 15px;
}
.slider-reviews__review {
    font-size: 20px;
}

.slick-track {
    display: flex;
}

.slick-list{
    overflow: hidden;
}
.slick-arrow,
.slick-dots {
    display: none !important;
}