.main-title {
    color: $titleColor;
    font-size: 64px;
    font-weight: 900;
}
.main-subtitle {
    color: $textColor;
    font-size: 40px;
    font-weight: 700;
}

.context-title {
    color: $titleColor;
    font-size: 32px;
    font-weight: 700;
}