.main-footer {
    .context-title {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
    }
}

.footer__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 64px 0;
    column-gap: 70px;
    row-gap: 70px;
    align-items: center;

    @media (max-width:768px) {
        flex-direction: column;
    }

}

.footer__invitation {
    max-width: 213px;
    padding-top: 5px;


    @media (max-width:768px) {
        max-width: 339px;
    }

}

.logo--footer {
    margin: 0 auto 16px;
    width: 163px;
    max-width: 163px;
    
}

.footer__invitation-text {
    color: $textColor;
    font-size: 20px;
}

.footer__contacts {
    
    
    .context-title {
        margin-bottom: 16px;
        
        @media (max-width:768px) {
            text-align: center;   
        }   
        
    }
}


.footer__links {
    display: flex;
    column-gap: 32px;
    
    @media (max-width:570px) {
        flex-direction: column;
        row-gap: 32px;
    }
}

.links-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    
}

.links-list__contact {
    
}

.contact-link__icon {
    fill: $textColor;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
   

}
.links-list__contact:hover {
    .contact-link__icon{
        fill:$titleColor;
    }
    .contact-link__text {
        color:$textColor
    }
}

.contact-link {

}

.contact-link__text {
    color: $titleColor;
    font-size: 24px;
}
