.my-works {

    .context-title {
        text-align: center;
        margin-bottom: 32px;
    }
}

.my-works__content {
    padding:64px 0  ;

    @media (max-width:570px) {
        padding: 82px 0;
    }
}


.my-works__row-cards {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    flex-wrap: wrap;
    row-gap: 16px;
    align-items: center;

    @media (max-width:768px) {
        flex-direction: column;
    }

}

.card-project {
    max-width: 320px;
    max-height: 320px;
    position: relative;
    overflow: hidden;
    
    &:hover {
        .card-project-info {
            top: 0;
        }
    }
}

.card-project-info {
    background-color: $myWorksBackground;
    height: 100%;
    max-height: 320px;
    position: absolute;
    top: -100%;
    left: 0;
    transition: top 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 40.5px 0;

    .context-title {
        margin-bottom: 16px;
    }

}
.card-project-info__top {
    max-width: 200px;
    width: 100%;
    border-bottom: 1px solid $titleColor;
    padding-bottom: 16px;

}

.card-project-info__stack {
    font-weight: 500;
}
.card-project-info__bottom {
    max-width: 219px;
    padding-top: 16px;

}
.card-project-info__discription {
    text-align: left;
    margin-bottom: 16px;
}
.card-project-info__link {
    font-size: 14px;
    font-weight: 500;
    background-color: $linkCard;
    padding: 12px 20px;
    border-radius: 4px;
    color: $textColor;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid transparent;
    &:hover {
        border-color: $titleColor;
        box-shadow:  0 0 2px 4px $titleColor;
    }
}