.preview {
    padding-top: 72.5px;
    padding-bottom: 72.5px;

    @media (max-width:1244px) {
        padding: 128px 0;
    }

    @media (max-width:570px) {
        padding: 144.5px 0 0;
    }

    &__content {
        display: flex;
        align-items: center;
        column-gap: 137px;
        flex-wrap: wrap;
        row-gap: 48px;
        justify-content: center;
    }
}