.skills {
    .context-title {
        margin-bottom: 32px;
    }
}

.skills__content {
    padding:64px 0  ;
    text-align: center;
}

.skills__row-cards {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 16px;

    @media (max-width:570px) {
        flex-direction: column;
        align-items: center;
    }
}

.skill-card {
    min-width: 200px;
    min-height: 300px;
    transition: all 0.5s ease;
    position: relative;

    @media (max-width:570px) {
        max-width: 285px;
        width: 100%;
        min-height: 60px;
    }
    

    &__front,
    &__back {
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform 1s;
        border-radius: 10px;
    }

    &__front {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 61px 43px 58px;
        row-gap: 18px;
        background-color: $cardsBackground;
        transform: perspective(600px) rotateY(0deg);

        @media (max-width:570px) {
            flex-direction: row;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 32px;
            column-gap: 16px;
        }
    }

    &__back {
        color: rgb(255, 255, 255);
        background-color: rgba(120, 200, 120, 0.80);
        transform: perspective(600px) rotateY(180deg);
        backdrop-filter: blur(10px);

    }

    &__information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
        font-size: 25px;

        @media (max-width: 570px) {
            font-size: 20px;
            width: 95%;
        }

        @media (max-width: 375px) {
            font-size: 16px;
        }
    }

    &__close {
        width: 30px;
        height: 30px;
        transition: 0.5s;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__close:hover {
        transform: rotate(250deg);
    }

    &.active {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(0deg) !important;
        z-index: 6;
        max-width: 500px;
        max-height: 400px;
        width: 90%;
        height: 100%;
        transition: top 500ms, left 500ms;

        .skill-card__front {
            transform: perspective(600px) rotateY(180deg);
            
        }
        
        .skill-card__back {
            transform: perspective(600px) rotateY(0deg);
        }
    }
    
}
.skill-card--html,
.skill-card--css {
    .skill-card__img {
        width: 113px;

        @media (max-width:570px) {
            width: 28.3px;
            height: 32px;
        }
    }

}
.skill-card--git,
.skill-card--javaScript,
.skill-card--scss {
    .skill-card__img {
        width: 128px;
        
        @media (max-width:570px) {
            width: 32px;
            height: 32px;
        }
    }

}
.skill-card__button {
    border: 6px double #fff;
    border-radius: 5px;
    font-size: 24px;
    padding: 5px 10px;
    min-width: 124px;

    @media (max-width:570px) {
        font-weight: 500;
        border: none;
    }
}

.skill-card--html {
    @include color-icon($html);
    @include color-border($html);
    @include color-icon-active($html);
    @include color-border-active($html);


}
.skill-card--css {
    @include color-icon($css);
    @include color-border($css);
    @include color-border-active($css);
    @include color-icon-active($css);   
}
.skill-card--git {
    @include color-icon($git);
    @include color-border($git);
    @include color-border-active($git);
    @include color-icon-active($git);
}
.skill-card--javaScript {
    @include color-icon($javaScript);
    @include color-border($javaScript);
    @include color-border-active($javaScript);
    @include color-icon-active($javaScript);
}
.skill-card--scss {
    @include color-icon($scss);
    @include color-border($scss);
    @include color-border-active($scss);
    @include color-icon-active($scss);
}