.form-application {
    padding: 64px 0;
}

.form-application__content {
}

.form {
    max-width: 780px;
    background-color: $cardsBackground;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    padding: 40px 0;
}

.form__item {
    width: 90%;
    position: relative;
}

.form__fake-placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-transform: capitalize;
    font-size: 24px;
    transition: 0.5s;
    pointer-events: none;

    &.focus{
        transform: translateY(-160%);
        font-size: 18px;
    }
}

.entry-field {
    background-color: #fff;
    width: 100%;
    background: transparent;
    border: 2px solid $titleColor;
    border-radius: 15px;
    padding: 10px;
}

.entry-field--message {
    resize: vertical;
    height: 40px;
    min-height: 40px;
    max-height: 300px;
    
}

.form__fake-placeholder--message {
    top: 20px;
}

.form-item {

}
.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}
.fake-radio {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid $titleColor;
    border-radius: 5px;
}

.fake-radio::before{
    content: "";
    background-image: url(../img/Tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 39px;
    height: 32px;
    opacity: 0;
}

.real-radio:checked + .fake-radio::before{
    opacity: 1;
}

.rules {
}
.rules__discription { 
    font-size: 24px;
}
.rules__link {
    color: $titleColor;
    text-decoration: underline !important;
    text-underline-offset: 3px;
    font-size: 24px;
}

.form-item--rules{
    display: flex;
    column-gap: 20px;
    align-items: center;
    max-width: 700px;
}


.btn-submit{
    max-width: 375px;
    width: 100%;
    height: 60px;
    border: 2px solid $titleColor;
    border-radius: 20px;
    font-size: 32px;
    text-transform: capitalize;  

    @include hover-btn-submit($titleColor);
}

.form__item--submit{
    text-align: center;
}
